<div class="card border-primary mb-3" >
  <div class="card-header">Registros</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Vehiculos Actualmente en el Parqueadero</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/registroparqueo/registroentrada']">
        Registrar Entrada
      </button>
    </div>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fecha Ingreso</th>
          <th>Registrar Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of registros" >
          <td>{{registro.vehiculo.placa}}</td>
          <td>{{registro.vehiculo.tipo}}</td>
          <td>{{registro.fechaIngreso}}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/registroparqueo/registrosalida', registro.vehiculo.placa]" class="btn btn-primary btn-sm">
              Registrar Salida
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
